@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body{
	font-family: 'Ubuntu', sans-serif;
}

h2, h4, h5, h6{
	color: #633368;
}

.newConcepto h3{
	color: #fff;
	padding: 5px;
	font-size: 3rem;
	text-shadow: -1px 0 #633368, 0 0.5px #633368, 0.5px 0 #633368, 0 -1px #633368;
}

h5 a{
	color: #633368;
}

h5 a:hover{
	color: #633368;
	text-decoration: none;
}

.background-navbar{
	background-color: #008296;
}

.encabezado{
	height: 75vh;
	background-image: url(../img/blue-print-1280.jpg);
	background-size: cover;
}

.logo{
	height: 28vh;
    width: auto;
}

.menu-text{
	font-size: 1em;
}

.parrafo{
	font-size: 1em;
}

textarea{
	resize: none;
}

.btn-outline-primary {
	color: #008296;
	border-color: #008296;
}

.btn-outline-primary:hover {
	color: #fff;
	background-color: #008296;
	border-color: #633368;
}	

.footer{
	background: #008296;
	color: white;
}

a i{
	font-size: 2em;
}

.prop {
	height: 100%;
}

.prop form {
	background: rgba(209, 209, 209, 1);
	padding: 5px;
	border-radius: 8px;
}

.card-paragraph {
	font-size: .7em;
}

.color-bed {
	color: #633368;
	font-size: .8em;
	padding: 0 0 0 20px;
}

.status {
	color: #633368;
	font-size: .9em;
}

/*XS*/
@media (max-width:767px)
{
	.encabezado{
		height: 100vh;
	}

	.parrafo{
		font-size: 2em;
	}

	.logo{
	height: 40vh;
    width: auto;
	}

	.menu-text{
		font-size: 2.5em;
		text-align: center;
	}

	a i{
		font-size: 4em;
	}

	.card-paragraph {
	font-size: 1.4em;
	}

	.card-title {
		font-size: 1.8em;
	}
}

/*SM*/
@media (min-width:768px) and (max-width:991px)
{
	.newConcepto h3{
		font-size: 3rem;
	}

	.menu-text{
		font-size: 2.5em;
		text-align: center;
	}

	.parrafo{
		font-size: 1.5em;
	}

	a i{
		font-size: 4em;
	}

	.card-paragraph {
	font-size: 1.4em;
	}

	.card-title {
		font-size: 1.8em;
	}
}

/*MD*/
@media (min-width:992px) and (max-width:1199px)
{
	.newConcepto h3{
		font-size: 2rem;
	}

	.menu-text{
		font-size: 1em;
		text-align: center;
	}
}

/*LG*/
@media (min-width:1200px)
{
	.newConcepto h3{
		font-size: 1.5rem;
	}

	.menu-text{
		font-size: 1em;
	}
}